<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Lewis Xin</title>

    <!-- Bootstrap -->
    <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container-fluid main">
        <div class="row site-header">
            <div class="name-label">
                <a href="../index.html">
                    <h4 class="text-center">Lewis &#183; Liu Xin</h4>
                </a>
            </div>
            <div class="site-nav">
                <ul class="nav nav-pills text-center">
                    <li role="presentation" class="active"><a href="resume.html">R&eacute;sum&eacute;</a></li>
                    <li role="presentation"><a href="gallery.html">Gallery</a></li>
                    <li role="presentation"><a href="contact.html">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="row site-content">
            <div class="col-md-12">
                <h2 class="title text-center">About Lewis</h2>
            </div>
            <div class="panel-group col-md-8 col-md-offset-2" id="site-accordion" role="tablist" aria-multiselectable="true">
                <!--Skills collapse panel-->
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="skillsHeading">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#skills" aria-expanded="true" aria-controls="skills">
                            <h4 class="panel-title">
                                My Skills &amp; Interests
                                <i class="fa fa-chevron-up" aria-hidden="true" style="float:right"></i>
                            </h4>
                        </a>
                    </div>
                    <div id="skills" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="skillsHeading">
                        <div class="panel-body">
                            <div class="col-md-4 col-sm-4">
                                <canvas id="languages" width="200" height="200"></canvas>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <canvas id="frameworks" width="200" height="200"></canvas>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <canvas id="interests" width="200" height="200"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Experience collapse panel-->
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="experienceHeading">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#experience" aria-expanded="false" aria-controls="experience">
                            <h4 class="panel-title">
                                My Experience
                                <i class="fa fa-chevron-up" aria-hidden="true" style="float:right"></i>
                            </h4>
                        </a>
                    </div>
                    <div id="experience" class="panel-collapse collapse" role="tabpanel" aria-labelledby="experienceHeading">
                        <div class="panel-body">
                            <div class="media">
                                <div class="media-left">
                                    <p class="media-object">
                                        2016 Jul to 2016 Nov
                                    </p>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Backend Developer</h4>
                                    <h5 class="media-subheading">eBeeCare Pte. Ltd., SG</h5>
                                    <p class="media-content">eBeeCare is a startup company based in Singapore. It provides C2C homecare services that
                                        links in-home patients and heathcare service providers. As an part-time backend developer,
                                        I worked with my supervisor developing and migrating the former backend system to
                                        the new one backed by NodeJS and MongoDB. It was a great learning experience for
                                        me as I developed my knowledge in setting up web server and database, writing REST
                                        APIs services as well as resolving issues with system migration and integrations</p>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                    <p class="media-object">
                                        2015 Jan to 2015 Jun
                                    </p>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">R&amp;D Intern</h4>
                                    <h5 class="media-subheading">SAP Innovation Center Netowrks Singapore, SG</h5>
                                    <p class="media-content">At the IoT team of R&amp;D Department, SAP Singapore, I worked on a Smart Meeting Room
                                        project together with another intern friend. Our goal was to leverages on technology
                                        such as Arduino sensors, iBeacon and SAP HANA to stream real-time room status data
                                        and improve the utilization of office meeting rooms. I developed a web dashboard
                                        using SAP OpenUI5 framework as the frontend, and HANA XS engine as the backend tier.
                                        Users could view real-time room status, book, cancel or auto-cancel the meeting rooms.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Education collapse panel-->
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="educationHeading">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#education" aria-expanded="false" aria-controls="education">
                            <h4 class="panel-title">
                                Where I Studied
                                <i class="fa fa-chevron-up" aria-hidden="true" style="float:right"></i>
                            </h4>
                        </a>
                    </div>
                    <div id="education" class="panel-collapse collapse" role="tabpanel" aria-labelledby="educationHeading">
                        <div class="panel-body">
                            <div class="media">
                                <div class="media-left">
                                    <p class="media-object">
                                        2013 Aug to 2017 May
                                    </p>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">B.Comp. Information Systems</h4>
                                    <h5 class="media-subheading">National University of Singapore, SG</h5>
                                    <p class="media-content">I came to Singapore in 2011. I was quite lucky to be selected in the SM2 Scholarship
                                        program after my second year of high school in Xi'an, China. After 18-month Preparation
                                        Course I matriculated as an IS student in NUS, School of Computing. I am proud to
                                        be in computing as we get to develop crazy fancy and useful stuff through designing
                                        and programming. Looking forward to my Graduation and coding some really cool stuff
                                        at work. </p>
                                </div>

                            </div>
                            <div class="media">
                                <div class="media-left">
                                    <p class="media-object">
                                        2016 Feb to 2016 Jun
                                    </p>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">B.Com. Information Systems</h4>
                                    <h5 class="media-subheading">University of Auckland, NZ</h5>
                                    <p class="media-content">This 1 semester exchange program really pushed me out of the comfort zone. Not many folks
                                        from Singapore went together with me. Thus being in a completely new environment,
                                        I was forced to intiate conversations with new people almost everyday. I took courses
                                        in Computer Networks, Information Security, Project Management and Management Information
                                        Systems. Besides studies I also tried Canoeing which I couldn't really often do at
                                        my undergrad in Singapore.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row site-footer">
        <p class="text-center footer-info"></p>
        <div class="center-block" style="text-align: center">
            <a class="fa fa-facebook-square social-links" aria-hidden="true" href="https://www.facebook.com/lewis.xin.7"></a>
            <a class="fa fa-instagram social-links" aria-hidden="true" href="https://www.instagram.com/lewisxin"></a>
            <a class="fa fa-github-square social-links" aria-hidden="true" href="https://www.github.com/lewisxin"></a>
            <a class="fa fa-linkedin-square social-links" aria-hidden="true" href="https://www.linkedin.com/in/liu-xin-lewis"></a>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js"></script>
    <script src="../assets/js/chart.js"></script>
    <script>
        $('.collapse').on('hide.bs.collapse', function () {
            $(this).parent().find('i').removeClass('fa-chevron-up').addClass('fa-chevron-down');
        }).on('show.bs.collapse', function () {
            $(this).parent().find('i').removeClass('fa-chevron-down').addClass('fa-chevron-up');
        });
    </script>
</body>

</html>