<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Lewis Xin</title>

    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container-fluid main">
        <div class="row site-header">
            <div class="name-label">
                <a href="../index.html">
                    <h4 class="text-center">Lewis &#183; Liu Xin</h4>
                </a>
            </div>
            <div class="site-nav">
                <ul class="nav nav-pills text-center">
                    <li role="presentation" class="active"><a href="resume.html">R&eacute;sum&eacute;</a></li>
                    <li role="presentation"><a href="gallery.html">Gallery</a></li>
                    <li role="presentation"><a href="contact.html">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="row site-content">
            <div class="col-md-12">
                <h2 class="title text-center">About Lewis</h2>
            </div>
            <div class="col-md-6 col-md-offset-3">Skills</div>            
            <div class="col-md-6 col-md-offset-3" id="skills">
                <div class="media">
                    <div class="media-left">
                        <p class="media-object">
                            2017 Jan to Present
                        </p>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Middle aligned media</h4>
                        <h5 class="media-subheading">Sub header</h5>
                        <p class="media-content">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
                            Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-3">Experience</div>
            <div class="col-md-6 col-md-offset-3" id="experience">
                <div class="media">
                    <div class="media-left">
                        <p class="media-object">
                            2017 Jan to Present
                        </p>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Middle aligned media</h4>
                        <h5 class="media-subheading">Sub header</h5>
                        <p class="media-content">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
                            Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <p class="media-object">
                            2017 Jan to Present
                        </p>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Middle aligned media</h4>
                        <h5 class="media-subheading">Sub header</h5>
                        <p class="media-content">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
                            Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-3">Education</div>            
            <div class="col-md-6 col-md-offset-3" id="education">
                <div class="media">
                    <div class="media-left">
                        <p class="media-object">
                            2017 Jan to Present
                        </p>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Middle aligned media</h4>
                        <h5 class="media-subheading">Sub header</h5>
                        <p class="media-content">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
                            Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row site-footer">
        <p class="text-center footer-info"></p>
        <div class="center-block" style="text-align: center">
            <a class="fa fa-facebook-square social-links" aria-hidden="true" href="https://www.facebook.com/lewis.xin.7"></a>
            <a class="fa fa-instagram social-links" aria-hidden="true" href="https://www.instagram.com/lewisxin"></a>
            <a class="fa fa-github-square social-links" aria-hidden="true" href="https://www.github.com/lewisxin"></a>
            <a class="fa fa-linkedin-square social-links" aria-hidden="true" href="https://www.linkedin.com/in/liu-xin-lewis"></a>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>